{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chaz Console{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'console/css/index2.css' %}">
    <link rel="stylesheet" href="{% static 'console/css/intel.css' %}">
    <link rel="stylesheet" href="{% static 'console/css/matrix.css' %}">
</head>
<body>

{% block content %}
<div class="grid">
    {% include "console/partials/comms.html" %}

    {% include "console/partials/intel.html" %}

    {% include "console/partials/matrix_live.html" %}

    {% include "console/partials/logs.html" %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/lucide@latest"></script>

<script src="{% static 'console/js/index.js' %}"></script>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<!-- <script src="{% static 'console/js/isotope.pkgd.min.js' %}"></script> -->
<script src="{% static 'console/js/matrix.js' %}"></script>


{% endblock %}

</body>
</html>