{% load static %}
<div class="panel">
    <div class="panel-title">Comms_Center</div>

    <div class="chat" id="chat">
        <div class="msg client">¿Cuánto demora el arreglo?</div>
        <div class="msg agent">Si es solo el SSL, en 15 minutos estamos online.</div>
    </div>

    <div class="d-flex gap-2 mt-2">
        <input id="msgInput" 
               class="input-custom flex-grow-1" 
               placeholder="Escribir comando..." 
               onkeydown="handleChatInput(event)">
        
        <button class="btn btn-warning btn-sm" onclick="sendMessage()">
            <i class="bi bi-send-fill"></i>
        </button>
</div>
</div>